---
export interface Props {
	title: string;
}

import "../styles/global.css";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
    <main>
      <slot />
    </main>
    <script>
      import p5 from "p5";

      const sketch = (p: p5) => {
          p.setup = () => {
              p.createCanvas(400, 400);
            }

          p.draw = () => {
              p.background("#000");
            }
        }

      new p5(sketch);
    </script>
	</body>
</html>
