---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <section class="about">
    <a href="/">Home</a>
    <slot />
  </section>
  <main id="p5"></main>
  <script type="module" src={frontmatter.sketch}></script>
</BaseLayout>
