---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} sketch={frontmatter.sketch}>
  <section class="about">
    <a href="/">Home</a>
    <slot />
  </section>
  <main id="p5"></main>
</BaseLayout>
