---
import BaseLayout from "./BaseLayout.astro";

const { title } = Astro.props;
---

<BaseLayout title={title} >
  <div class="wrapper">
    <section class="about">
      <a href="/sketches/" class="contrast" role="button">Home</a>
      <div class="description">
        <slot />
      </div>
      <div id="buttons"></div>
    </section>
    <main id="p5"></main>
  </div>
</BaseLayout>

<style>
  #p5 {
    position: relative;
    width: 80%;
  }

  .about {
    width: 20%;
    padding: 1rem;
  }

  .description {
    margin-top: 30px;
  }

  .wrapper {
    display: flex;
    min-height: 100vh;
  }
</style>
