---
import BaseLayout from "./BaseLayout.astro";

const { title } = Astro.props;
---

<BaseLayout title={title} >
  <div class="wrapper">
    <section class="about">
      <a href="/sketches/" class="contrast" role="button">Home</a>
      <div class="description">
        <slot />
      </div>
      <div id="buttons"></div>
    </section>
    <main id="p5"></main>
  </div>
</BaseLayout>
