---
import BaseLayout from "./BaseLayout.astro";

const { title } = Astro.props;
---

<BaseLayout title={title} >
  <section class="about">
    <a href="/sketches/">Home</a>
    <slot />
  </section>
  <main id="p5"></main>
</BaseLayout>
