---
import BaseLayout from "./BaseLayout.astro";

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <div class="wrapper">
    <section class="about">
      <a href="/sketches/" class="contrast" role="button">Home</a>
      <div class="description">
        <slot />
      </div>
      <div id="buttons"></div>
    </section>
    <main id="p5"></main>
  </div>
</BaseLayout>

<style>
  #p5 {
    position: relative;
  }

  .about {
    padding: 1rem;
  }

  .about > * + * {
    margin-block-start: 1em;
  }

  .wrapper {
    display: flex;
    min-height: 100vh;
    max-inline-size: 1440px;
    margin-inline: auto;
  }
</style>
