---
import Layout from '../layouts/BaseLayout.astro';
const allPosts = await Astro.glob("./**/*.astro");

function formatLink(str: string | undefined) {
    return str?.split("/").pop()?.replace(/-/g, " ");
  }
---

<Layout title="Sketches">
  <div class="home">
    <h1>Visualizations</h1>
    <ul>
      {allPosts.map((post) => <li><a href={post.url}>{formatLink(post.url)}</a></li>)}
    </ul>
  </div>
</Layout>

<style>
  h1 {
      margin-top: 0;
    }

  .home {
      padding: 1rem;
    }

  a {
      text-transform: capitalize;
    }
</style>
