---
import Layout from '../layouts/BaseLayout.astro';
import dirTree from "directory-tree";

const pages = dirTree("./src/pages", { exclude: /.astro/ }).children;

function formatLink(str: string | undefined) {
    return str?.split("/").pop()?.replace(/-/g, " ");
  }
---

<Layout title="Sketches">
  <h1 class="container">Sketches</h1>
  <ul class="container">
    {pages && pages.map(page => <li><a href={page.name}>{formatLink(page.name)}</a></li>)}
  </ul>
  <footer class="container">
    <a href="https://andrewklenner.netlify.app/">Andrew Klenner</a>
    <a href="https://github.com/atklenner/sketches">GitHub Repo</a>
  </footer>
</Layout>

<style>
  a {
      text-transform: capitalize;
    }
</style>
