---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout title="Sketches">
  <div class="home">
    <h1>Visualizations</h1>
    <a href="/sketches/sorting-algorithms">Sorting Algorithms</a>
  </div>
</Layout>

<style>
  h1 {
      margin-top: 0;
    }

  .home {
      padding: 1rem;
    }
</style>
