---
import SketchLayout from "../../layouts/SketchLayout.astro";
---

<SketchLayout title="Billiards">
  <p>
    Simulation of particles on a 2D plane experiencing friction and 2D elastic
    collisions.
  </p>
  <p>
    Sometimes two particles will try to occupy the same space at the same time.
  </p>
  <script>
    import p5 from "p5";
    import sketch from "./sketch";
    new p5(sketch);
  </script>
</SketchLayout>
