---
import SketchLayout from "../../layouts/SketchLayout.astro";
---
<SketchLayout title="Billiards">
  <p>
    Bouncing Balls
  </p>
  <p>
  </p>
  <script src="./sketch.ts"></script>
</SketchLayout>
