---
import SketchLayout from "../../layouts/SketchLayout.astro";
---
<SketchLayout title="">
  <p></p>
  <script>
    import p5 from "p5";
    import sketch from "./sketch";
    new p5(sketch);
  </script>
</SketchLayout>
