html, body {
  min-height: 100vh;
}

.wrapper {
  display: flex;
  min-height: 100vh;
}

#p5 {
  position: relative;
  width: 80%;
}

.about {
  width: 20%;
  padding: 1rem;
}

.description {
  margin-top: 30px;
}
