---
import SketchLayout from "../../layouts/SketchLayout.astro";
---
<SketchLayout title="Sorting Algorithms">
  <p>
    A version of John Conway's Game of Life.
  </p>
  <p>
    You can click any cell to toggle the "alive" or "dead" state.
  </p>
  <script src="./sketch.ts"></script>
</SketchLayout>
